.twitte{
    color:skyblue;
    font-size: 50px;
    padding: 20px;
    background-color: aquamarine;
}
.whatsapp{
    color: green;
}
.facebook{
    color: blue;
    font-size: 50px;
    padding: 20px;
    
}

}